<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/script.js}"></script>
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <!--<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/-->
</head>
<!--<body bgcolor= ADABAE>-->
<body>

<img th:src="@{/img/eneba-logo.png}" alt="logo">

<div class="prosta"></div>

<div>
    <a th:href = "@{/index}"><button class="wylogujbutton" style="vertical-align:middle"><span>Wyloguj</span></button></a>
    <a th:href = "@{/user/user_edycja}"><button class="edytujbutton" style="vertical-align:middle"><span>Klienci</span></button></a>
</div>

<!--image slider start-->
<div class="slider">
    <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
            <img th:src="@{/img/jd.png}" alt="instalacja elektryczna">
        </div>
        <div class="slide">
            <img th:src="@{/img/fotowoltaika.jpg}" alt="fotowoltaika">
        </div>
        <div class="slide">
            <img th:src="@{/img/budowa.jpg}" alt="budowa">
        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
        <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
</div>
<!--image slider end-->

<script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 3){
        counter = 1;
      }
    }, 5000);
</script>


<div class="aktualnosci">
    <h2><center>Aktualności</center></h2>
    <ul>
        <li>
            <h3><b>Współpraca między firmą ENEBA, a Reprezentacją Polski w piłce nożnej.</b></h3>
            Wraz z dniem 01.01.2023 przedłużeniu uległ kontrakt sponsorski między Polskim Związkiem Piłki Nożnej, a dostawcą energii ENEBA
        </li>
    </ul>
</div>

<div class="fiolet1"></div>
<div class="fiolet2"></div>
<div class="fiolet3"></div>

<div class="komunikaty">
    <h2><center>Komunikaty</center></h2>
    <ul>
        <li>
            <h3><b>Rządowa tarcza energetyczna</b></h3>
            <p>
                W związku z wejściem w życie ustawy z dnia 07 października 2022 r.
                o szczególnych rozwiązaniach służących ochronie odbiorców energii
                elektrycznej w 2023 roku w związku z sytuacją na rynku energii elektrycznej...
                <a href="https://energa-operator.pl/aktualnosci/784513/rzadowa-tarcza-energetyczna-2022-12-22"> Więcej</a>
            </p>
        </li>
    </ul>
</div>

<div class="zglaszanie_awarii">
    <h2><center>Zgłaszanie awarii</center></h2>
    <div>
        <ul>
            <li>
                <h3><b>Telefon Alarmowy</b></h3>
                <p>991</p>
            </li>
            <li>
                <h3><b>Mail Zgłoszeniowy</b></h3>
                <p>eneba.awarie@eneba.pl</p>
            </li>
            <li>
                <h3><b>Sms Alarmowy</b></h3>
                <p>Sms o treści "awaria" na numer 902381729 </p>
            </li>
        </ul>
    </div>
</div>

<div class="paneldol">

    <div style="float:left; margin-left:20px; margin-top:50px;">
        <ul>
            <li>
                <b>ENEBA-OPERATOR SA</b>

            <li>
                ul. Marynarki Polskiej 130
                80–557 Biała Podlaska
            </li>

            <li>
                tel.: +48 58 778 82 00
                fax: +48 58 760 20 22
            </li>
        </ul>
    </div>

    <div style="float:left; margin-left:600px; margin-top:50px;">
        <ul>
            <li>
                Sąd Rejonowy Gdańsk-Północ VII Wydział Gospodarczy Krajowego Rejestru Sądowego
            </li>

            <li>
                KRS 0000033455
            </li>

            <li>
                Rachunek bankowy: 50 1240 5400 1111 0000 4917 9295
                prowadzony w PEKAO SA
            </li>

            <li>
                NIP 583–000–11–90
                Regon 190275904
                Kapitał zakładowy 1 356 110 400 zł
            </li>
        </ul>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>